h1 {
  text-align: center;
  opacity: 0.8;
  font-family: "Open Sans";
  font-size: 50px;
  line-height: 45px;
  font-weight: 600;
  color: #000000;

  span {
    color: #fc6744;
  }
}
p {
  text-align: center;
  opacity: 0.7;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #414141;
}
.containercards {
  display: flex;
  margin-top: 109px;
  justify-content: center;
}
.card1 {
  width: 262px;
  height: 263px;
  background-color: #4eb2f7;
  box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 31px;
  margin-left: 149px;
  .fa-magnet {
    opacity: 0.8;
    font-size: 50px;
    line-height: 8px;
    //   font-weight: 400;
    letter-spacing: 0.01em;
    color: white;
    margin-top: 53px;
  }
  h2 {
    opacity: 0.9;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 42px;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-top: 23px;
  }
  p {
    opacity: 0.74;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-bottom: 35px;
  }

  button {
    width: 228px;
    height: 55px;
    background-color: #ffffff;
    box-shadow: 1px 6px 14px 0px rgba(20, 20, 21, 0.09);
    border-radius: 27px;

    p {
      opacity: 0.8;
      font-family: "Open Sans";
      font-size: 16px;
      line-height: 25px;
      font-weight: 400;
      color: #000000;
    }
  }
}
.card2 {
  width: 262px;
  height: 263px;
  background-color: #c049f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 31px;
  .fa-bug {
    opacity: 0.8;
    font-size: 50px;
    line-height: 8px;
    //font-weight: 400;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-top: 53px;
  }
  h2 {
    opacity: 0.9;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 42px;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-top: 23px;
  }
  p {
    opacity: 0.74;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #ffffff;
  }
  .button {
    margin-top: 20px;
  }
  button {
    width: 228px;
    height: 55px;
    background-color: #ffffff;
    box-shadow: 0px 0px 14px 0px rgba(20, 20, 21, 0.05);
    border-radius: 27px;
    p {
      opacity: 0.8;
      font-family: "Open Sans";
      font-size: 16px;
      line-height: 25px;
      font-weight: 400;
      color: #000000;
    }
  }
}
.card3 {
  width: 262px;
  height: 263px;
  background-color: #817eff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 31px;
  .fa-gears {
    opacity: 0.8;
    font-size: 50px;
    line-height: 8px;
    //font-weight: 400;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-top: 53px;
  }
  h2 {
    opacity: 0.9;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 42px;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-top: 23px;
  }
  p {
    opacity: 0.74;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-bottom: 23px;
  }
  button {
    width: 228px;
    height: 55px;
    background-color: #ffffff;
    box-shadow: 0px 0px 14px 0px rgba(20, 20, 21, 0.05);
    border-radius: 27px;
    p {
      opacity: 0.8;
      font-family: "Open Sans";
      font-size: 16px;
      line-height: 25px;
      font-weight: 400;
      color: #000000;
    }
  }
}
.card4 {
  width: 262px;
  height: 263px;
  background-color: #f74770;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 151px;
  .fa-camera-retro {
    opacity: 0.8;
    font-size: 46.4px;
    line-height: 7px;
    //font-weight: 400;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-top: 53px;
  }
  h2 {
    opacity: 0.9;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 42px;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-top: 23px;
  }
  p {
    opacity: 0.74;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-bottom: 23px;
  }
  button {
    width: 228px;
    height: 55px;
    background-color: #ffffff;
    box-shadow: 0px 0px 14px 0px rgba(20, 20, 21, 0.05);
    border-radius: 27px;
    p {
      opacity: 0.74;
      font-family: "Open Sans";
      font-size: 15px;
      line-height: 22px;
      font-weight: 400;
      letter-spacing: 0.01em;
      color: #ffffff;
    }
  }
}
.container {
  margin-top: 142px;
  margin-left: 521px;
  margin-right: 521px;
}
