* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #87509c;
  padding: 0 32px;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin: 0 4px;
}

.nav a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 16px;
  border-radius: 4px;
  transition: 0.3s background-color;
}

.nav a:hover {
  background-color: #643a79;
}
.section {
  background-color: #e7f1f8;
  width: 2045px;
  height: 953px;
}
h1 {
  font-family: "Titillium Web";
  font-size: 41.3px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #3c4761;
  margin: 0;
  text-align: center;
  padding-top: 40px;
}
.mini {
  width: 87px;
  height: 4px;
  opacity: 0.74;
  background-color: #bdd1df;
  margin: 0 auto;
  margin-top: 14px;
}
.text p {
  font-family: "Titillium Web";
  font-size: 18.6px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #3c4761;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: center;
  margin-left: 100px;
}
.circle {
  width: 200px;
  height: 200px;
  background-color: #878787;
  border-radius: 50%;
}
h2 {
  font-family: "Titillium Web";
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #27283d;
  margin-left: 17px;
}
.position {
  font-family: "Titillium Web";
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #30bae7;
  margin-left: 17px;
}
.textcard {
  font-family: "Titillium Web";
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #3c4761;
  margin-left: 17px;
}
.minicircle {
  width: 32px;
  height: 32px;
  background-color: #bdd1df;
  border-radius: 50%;
  margin: 5px;
}
.facebook {
  width: 8px;
  height: 15px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.container {
  display: flex;
  margin-left: 17px;
}
.linkedin {
  width: 16px;
  height: 16px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.mail {
  width: 16px;
  height: 12px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.twitter {
  width: 16px;
  height: 12px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
