* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Titillium Web";
  display: flex;
  flex-direction: column;
  background-color: #e7f1f8;
}
header > div {
  max-width: 1440px;
  width: 100%;
  display: flex;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #87509c;
  padding: 0 32px;
  width: 100%;
}
nav {
  flex: 1;
  margin-left: auto;
  max-width: 480px;
  align-self: center;
}
.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.nav li {
  margin: 0 4px;
}

.nav a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 16px;
  border-radius: 4px;
  transition: 0.3s background-color;
}

.nav a:hover {
  background-color: #643a79;
}
.section {
  background-color: #e7f1f8;
  display: flex;
  padding-bottom: 160px;
}
.section > div {
  max-width: 1440px;
  margin: auto;
}
h1 {
  font-size: 41.3px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #3c4761;
  margin: 0;
  text-align: center;
  padding-top: 40px;
}
.mini {
  width: 87px;
  height: 4px;
  opacity: 0.74;
  background-color: #bdd1df;
  margin: 0 auto;
  margin-top: 14px;
}
.text p {
  font-size: 18.6px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #3c4761;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: #878787;
  border-radius: 50%;
}
h2 {
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #27283d;
  margin-left: 17px;
}
.position {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #30bae7;
  margin-left: 17px;
}
.textcard {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #3c4761;
  margin-left: 17px;
}
.minicircle {
  width: 32px;
  height: 32px;
  background-color: #bdd1df;
  border-radius: 50%;
  margin: 5px;
  display: flex;
}

.container {
  display: flex;
  margin-left: 17px;
}
.facebook,
.linkedin,
.mail,
.twitter {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
